/* .transitions {
  transform: translateX(10vw) translateY(10vh) scale(3);
} */

.container{
    background-color: aqua;
    width: 50vw;
    height: 50vh;
}
.box{
    /* transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.9, 0.01, 0.16, 1.1); */

    width: 6vw;
    background-color: blueviolet;
    animation: RoshaanKaAnimation 1s infinite 2s alternate-reverse ;
    
}


@keyframes RoshaanKaAnimation {
    from{
        background-color: red;
    }
    to{
        transform: translateX(1000px) translateY(500px) scale(5);
        background-color: yellow;
    }
    
}

